/*============================================================================
  #Header Global
    -
==============================================================================*/

.page-width {
  padding-left: 0;
  padding-right: 0;
}

.site-header-sections {
  padding-top: 30px;
}

.site-header--fixed .site-header-sections {
  padding-top: 0;
}

.site-header__section--title {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  height: auto;
  max-height: 60px;
  max-width: 100%;
  width: auto;
}

.header__logo-text {
  p {
    margin: 0;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.25rem;
  }
  @include max-size(md) {
    display: none;
  }
}

.nav--mobile {
  @include screen-size(md) {
    display: none;
  }
}

.nav {
  @include screen-size(md) {
    margin-top: 15px;
  }
}

.nav__list {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  @include screen-size(md) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link {
  position: relative;
  color: $color__heading;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  @include hover-focus {
    color: #fff;
  }
}

.nav__link--text {
  @include max-size(sm) {
    display: none;
  }
}

.nav__link--bubble {
  @include max-size(sm) {
    padding: 0;
  }
}

.nav__link--burger {
  @include max-size(sm) {
    padding-left: 0;
  }
}

.cart__count {
  position: absolute;
  display: block;
  top: 3px;
  right: 4px;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  line-height: 18px;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #000;
  color: #fff;
  font-weight: 300;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 11px;
  text-align: center;
  
  @include max-size(sm) {
    position: absolute;
    width: 14px;
    height: 14px;
    line-height: 15px;
    top: 9px;
    right: 71px;
  }
}

.announcement-bar {
  display: none;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 10;
  height: 100px;
  
  @include max-size(sm) {
    height: 70px
  }
  svg {
    fill: #fff;
  }
}

.announcement-bar__wrapper {
  height: 100%;
}

.announcement-bar--visible {
  display: block;
}

.announcement-bar__message {
  font-family: "Caviar Dreams", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.announcement-bar__figure {
  margin: 0;
  padding: 0;
  height: 100%;
}

.announcement-bar__img {
  display: block;
  @include max-size(sm) {
    max-height: 70px;
  }
}

.announcement-bar__slogan {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2.8px;
  font-weight: 700;
  opacity: 0.9;
  @include max-size(md) {
    font-size: 1.5rem;
  }
  @include max-size(sm) {
    display: none;
  }
}

.announcement-bar__close {
  position: absolute;
  right: 20px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  @include max-size(sm) {
    .icon {
      width: 12px;
      height: 12px;
    }
  }
}

