/*============================================================================
  #Create Section
    - frame
    - create (form)
==============================================================================*/

/*================ Cart Header ================*/
.cart-header {
  padding: ($gutter * 4) 0 ($gutter * 3);
  
  @include media-query($small) {
    padding: ($gutter * 2) 0 $gutter;
    border-bottom: 1px solid $color-border;
  }
}

.cart__frame--position {
  position: relative;
  margin: 25px auto;
}

@for $i from 3 through 9 {
  [data-frame-size="#{$i}"].cart__frame--size {
    width: calc(7.6vw * #{$i} + 7.6vw);
    height: 20vw;
  
    @include min-size(md) {
      width: calc(57px * #{$i} + 57px);
      height: 150px;
    }
    
    @include min-size(1400) {
      width: calc(76px * #{$i} + 76px);
      height: 200px;
    }
  }
}


/*================ Cart Template ================*/
.cart__empty {
  display: none;
  
  .cart--empty & {
    display: block;
  }
  
  .cart--no-cookies & {
    display: none;
  }
}

.cart__no-cookies {
  display: none;
  
  .cart--no-cookies & {
    display: block;
  }
}

.cart__form {
  .cart--empty &,
  .cart--no-cookies & {
    display: none;
  }
}

.cart__table {
  width: 100%;
  table-layout: fixed;
  
  .cart-item__details, .cart-item--break {
    border-bottom: 1px solid $color-border ;
  }
  tr {
    border-bottom: 1px solid $color-border;
    
    th:first-of-type {
      width: 60%;
    }
   /* td img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 240px;
      margin: 30px auto;
      text-align: center;
      display: block;
      padding: 0 30px 0 0;
    }*/
  }
  
  th,
  td {
    border: 0;
  }
  
  td {
    position: relative;
    vertical-align: center;
    width: 100%;
  }
  
  th {
    font-weight: $font-weight-normal;
    padding: ($gutter / 2) 0;
  }
  
  @include max-size(md) {
    thead {
      @include visually-hidden();
    }
    
    tr,
    tbody {
      border-bottom: 0;
      width: 100%;
    }
    
    tbody {
      display: block;
    }
  }
}

/*================ Cart Item ================*/
.cart-item {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-bottom: unset !important;
  p {
    margin-bottom: 0;
  }
  
  @include max-size(md) {
    @include display-flexbox();
    @include flex-wrap(wrap);
    @include align-items(flex-start);
  }
}



.cart-item__details {
  height: 30%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.cart-item__image-wrapper {
  max-width: 100px;
  
  @include max-size(md) {
    @include flex(0 0 60px);
  }
}

.cart-item__image-link {
  @include max-size(md) {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-color: $color-input-background;
    border-radius: 50%;
  }
  
  @include media-query($medium-up) {
    background-size: 0 0;
  }
}

.cart-item__image {
  @include max-size(md) {
    @include visually-hidden();
  }
  
  @include media-query($medium-up) {
    max-width: 100px;
  }
}

td.cart-item__meta {
  padding-left: $gutter;
  padding-right: $gutter;
  
  @include media-query($medium-up) {
    max-width: 300px;
  }
  
  @include media-query($small) {
    @include flex(3 1 0%);
    @include display-flexbox;
    @include flex-direction(column);
    width: auto;
  }
}

.cart-item__meta-title {
  display: inline-block;
  margin-bottom: 5px;
  font-size: rem(18);
  line-height: 1;
  text-decoration: none;
  
  @include media-query($small) {
    font-size: rem(16);
  }
}

.cart-item__meta-variant {
  font-size: rem(12);
}

.cart-item__remove {
  padding: 0;
  
  @include media-query($small) {
    font-size: rem(12);
  }
  
  @include media-query($medium-up) {
    margin: ($gutter / 2) 0;
  }
}

.cart-item__message {
  opacity: 0;
  font-size: 14px;
  color: $color-error;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  
  .ajax-cart--error & {
    opacity: 1;
  }
}

.cart-item__property {
  letter-spacing: 1px;
}

.cart-item__discount {
  color: $color-primary;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.cart-item__qty {
  text-align: center;
  margin: 10px;
  
  @include media-query($small) {
    text-align: right;
  }
}

.cart-item__qty-label {
  @include visually-hidden();
  
  @include media-query($small) {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

input.cart-item__qty-input {
  text-align: center;
  width: 60px;
  padding: 10px 5px;
  margin-bottom: 0;
  
  @include media-query($small) {
    width: 50px;
    padding: 5px;
    font-weight: 700;
    line-height: 1.5;
  }
  
  @include media-query($medium-up) {
    height: 50px;
  }
}

.cart-item__price-wrapper {
  @include media-query($small) {
    @include flex(0 1 24%);
    text-align: right;
  }
  
  @include media-query($medium-up) {
    text-align: center;
  }
}

.cart-item__price,
.cart-item__original-price {
  display: inline-block;
  font-size: rem(14);
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  
  @include media-query($small) {
    font-size: rem(12);
    margin-top: $gutter / 2;
  }
}

.cart-item__original-price {
  margin-left: 10px;
}

.cart-item__properties {
  margin: 0;
}

.cart-item__details-positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item__update-wrapper {
  @include media-query($small) {
    text-align: right;
  }
  
  .cart-item__update--show &,
  .supports-no-js & {
    @include media-query($small) {
      padding-top: 0;
      @include display-flexbox();
      @include flex(1 1 100%);
      @include align-items(center);
      @include justify-content(space-between);
    }
  }
  
  .ie9 .cart-item__update--show & {
    display: block;
  }
}

/*================ Cart Footer ================*/

.cart-footer {
  padding-top: $gutter * 2;
/*  padding-left: 20px;
  padding-right: 20px;*/
  
  @include media-query($medium-up) {
    padding-top: $gutter * 4;
  }
}

.cart-footer__note-label,
.cart-footer__note-input {
  display: block;
  
  @include media-query($small) {
    margin: 0 auto;
  }
}

.cart-footer__note-label {
  margin-bottom: $gutter;
}

.cart-footer__note-input {
  min-height: 50px;
  width: 100%;
  
  @include media-query($small) {
    margin-bottom: $gutter * 2;
  }
}

.cart-footer__subtotal {
  padding-left: $gutter;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
}

.cart-footer__message-container {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  
  .ajax-cart--error & {
    opacity: 1;
  }
}

.cart-footer__message {
  text-align: right;
  font-size: 14px;
  color: $color-error;
  
  .ajax-cart--error & {
    padding-top: 40px;
  }
}

/*================ Cart Empty Message ================*/
.cart-message {
  @include media-query($small) {
    padding-top: $gutter;
  }
}


.cart-item__info-block {
  height: 100%;
  background: rgba(18, 49, 35, 0.13334);
  margin: 15px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.9;
  p {
    margin: 0 0 5px;
    line-height: 1.3;
    @include max-size(sm) {
      font-size: 1.3rem;
    }
  }
  h5 {
    @include max-size(sm) {
      font-size: 1.3rem;
    }
  }
}

.cart-item--break {
  .cart-item__padding {
    padding: 50px 0;
    @include max-size(sm) {
      padding: 20px 0 ;
    }
  }
  
}
