/*============================================================================
  #Section - Testimonials
    -
==============================================================================*/

.testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonial__wrapper {
  background-color: #fff;
  position: relative;
  &.testimonial__wrapper--active:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100% / 2 - 160px);
    background-color: $color__footer;
    opacity: 0.6;
    z-index: 1010;
    pointer-events: none;
  }
  &.testimonial__wrapper--active:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% / 2 - 160px);
    background-color: $color__footer;
    opacity: 0.6;
    z-index: 1010;
    pointer-events: none;
  }
}
@include max-size(960px) {
  .testimonial__wrapper {
    
    &.testimonial__wrapper--active:before {
      width: calc(100% / 3 );
    }
    &.testimonial__wrapper--active:after {
      width: calc(100% / 3 );
    }
  }
  .testimonial__body {
    padding: 0 5px;
  }
}

@include max-size(700px) {
  .testimonial__wrapper {
  
    &.testimonial__wrapper--active:before {
      width: calc(100% / 2 - 185px);
    }
    &.testimonial__wrapper--active:after {
      width: calc(100% / 2 - 185px);
    }
  }
}

.testimonial__content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.slide__overlay {
  position: relative;
}

.testimonial__slide {
  max-width: 370px;
  min-height: 600px;
  padding: 30px;
  margin: 0 auto;
  
  @include screen-size(lg) {
    height: 770px;
  }
}

.testimonial__content {
  height:290px;
}

.testimonial__icon {
  max-width: 50px;
  opacity: 0.8;
  margin: 40px auto;
}

.testimonial__heading {
  font-family: "Great Vibes", serif;
  font-size: 26px;
  font-weight: 300;
  margin: 10px 0;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 1.2;
}

.testimonial__quote {
  border: none;
  padding: 0;
}

.testimonial__body, .testimonial__author {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 13px;
  line-height: 1.6;
  padding: 0 30px;
  color: #404041;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 200px;
  @include max-size(md) {
      padding: 0 5px;
  }
}
.testimonial__image-wrapper {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  @include max-size(md) {
    height: 150px;
    width: 150px;
    margin: 20px auto;
  }
}

.testimonial__image  {
  width: 100%;
  height: auto;
}

.slider__button {
  position: absolute;
  top: 50%;
  font-size: 0;
  color: #fff;
  z-index: 1011;
  background: transparent;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  
  svg {
    width: 30px;
    height:30px;
    fill: currentColor;
  }
  @include max-size(sm) {
    display: none;
  }
  @include hover {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0.8;
  }
}

.slider__prevArrow {
  left: 2vw;
}

.slider__nextArrow {
  right:  2vw;
}