/*============================================================================
  #Create Section
    - frame
    - create (form)
==============================================================================*/

.frame__input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.frame__button {
  position: absolute;
  bottom: -110px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.modal__body {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-height: 50vh;
  overflow-y: scroll;
}

.modal__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(100% / 9);
  flex: 0 1 calc(100% / 9);
  pointer-events: all;
  line-height: 0;
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    /* max-height: 100%; */
    padding: 2px;
  }
}

.modal__image-upload {
  display: block;
  border: 0;
  overflow: hidden;
  height: 50px;
  max-width: 700px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  @include max-size(md) {
    max-width: 20%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  @include max-size(sm) {
    max-width: 70%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.custom-image__wrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

#image-upload {
  
  .custom-image__form {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .custom-image {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .custom-image__label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #f1e5e6;
    background-color: #d3394c;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    border-radius: 0;
    padding: 0;
    min-width: 150px;
    text-align: center;
    max-height: 100%;
    
    @include hover {
      background-color: #722040;
    }
    
    svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      margin-top: -0.25em;
      margin-right: 0.25em;
    }
  }
  
  .upload-progress {
    position: relative;
    width: 500px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
  }
  
  .upload-progress__bar {
    background-color: #b4f5b4;
    width: 0;
    height: 28px;
    border-radius: 3px;
  }
  
  .upload-progress__percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
    font-weight: 700;
    line-height: 28px;
    opacity: 0.8;
  }
  
}

/*============================================================================
  #NEW CSS
    -
==============================================================================*/

.create {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 35px);
  min-height: 850px;
  
  @include max-size(md) {
    min-height: 740px;
  }
  @include max-size(sm) {
    min-height: 580px;
  }
  
  .create__slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    height: 100%;
    width: 400vw;
    
    .create__step-1 {
      position: relative;
      width: 100vw;
      height: 100%;
      -webkit-transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      overflow: hidden;
    }
    .create__step-2 {
      position: relative;
      width: 100vw;
      height: 100%;
      -webkit-transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      overflow: hidden;
    }
    .create__step-3 {
      position: relative;
      width: 100vw;
      height: 100%;
      -webkit-transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      overflow: hidden;
    }
    .create__step-4 {
      position: relative;
      width: 100vw;
      height: 100%;
      -webkit-transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      transition: 0.8s all cubic-bezier(0.65, -0.04, 0.32, 1.3);
      overflow: hidden;
    }
  }
  
}

.frame {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.frame--position {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.frame__wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.frame__background {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-box-shadow: 3px 3px 17px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 17px 7px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  .frame__image {
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    float: left;
  }
  
  .frame__image--center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
  }
  
  .frame__image--mat {
    position: absolute;
    line-height: 1;
    top: 22%;
    bottom: 22%;
  }
}

.frame__label {
  position: absolute;
  left: 50%;
  top: 67%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
  font-weight: 700;
  font-size: 1.9vw;
  white-space: nowrap;
  z-index: 3;
  opacity: 1;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  
  @include min-size(md) {
    font-size: 14px;
  }
}

.frame__instructions {
  position: absolute;
  top: -55px;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  
  @include min-size(1200px) {
    font-size: 1.8rem;
  }
}

input[type='text'].frame__input {
  left: 0.15em;
  position: relative;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 11.75vw;
  text-transform: uppercase;
  letter-spacing: 0.30em;
  font-weight: 700;
  margin: 0;
  background-color: transparent;
  border: 0;
  &:focus {
    outline-offset: 0;
    outline: none;
  }
  @include min-size(1200px) {
    font-size: 141px;
  }
  &::-webkit-input-placeholder {
    font-family: "Caviar Dreams", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $color__primary;
    opacity: 1;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: initial;
    font-weight: 400;
    text-indent: -0.15em;
    font-size: 6vw;
    line-height: 6vw;
    margin: 0;
    padding: 3vw 0.5em 6vw 0;
    position: relative;
    bottom: 1vw;
    
    @include min-size(1200px) {
      font-size: 72px;
      line-height: 72px;
    }
  }
  &:-ms-input-placeholder {
    font-family: "Caviar Dreams", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $color__primary;
    opacity: 1;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: initial;
    font-weight: 400;
    text-indent: -0.15em;
    font-size: 6vw;
    line-height: 6vw;
    margin: 0;
    padding: 3vw 0.5em 6vw 0;
    position: relative;
    bottom: 1vw;
    
    @include min-size(1200px) {
      font-size: 72px;
      line-height: 72px;
    }
  }
  &::placeholder {
    font-family: "Caviar Dreams", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $color__primary;
    opacity: 1;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: initial;
    font-weight: 400;
    text-indent: -0.15em;
    font-size: 6vw;
    line-height: 6vw;
    margin: 0;
    padding: 3vw 0.5em 6vw 0;
    position: relative;
    bottom: 1vw;
    
    @include min-size(1200px) {
      font-size: 72px;
      line-height: 72px;
    }
  }
}

.frame__letter-wrapper {
  position: absolute;
  top: 22.3%;
  bottom: 22.3%;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  overflow: hidden;
  z-index: 1;
}

.frame__letter {
  pointer-events: all;
  display: block;
  line-height: 0;
  border: 0;
  margin: 0;
  height: 100%;
  background: none;
  
  img {
    max-width: 100%;
    width: 100%;
    background: #888;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    padding: calc(100% / 114);
    height: calc(100% - (100% / 114));
  }
  
  @include focus-active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #fff;
    outline: none;
  }
}

/* Frame sizes 3 - 9*/

@for $i from 3 through 9 {
  [data-frame-size="#{$i}"].frame--size {
    width: calc(9.5vw * #{$i} + 9.5vw);
    height: 25vw;
    
    @include min-size(1200px) {
      width: calc(114px * #{$i} + 114px);
      height: 300px;
    }
  }
  
  [data-frame-size="#{$i}"].final-artwork__size {
    width: calc(9.5vw * #{$i} + 9.5vw);
    height: 25vw;
    
    @include min-size(1200px) {
      width: calc(85.5px * #{$i} + 85.5px);
      height: 225px;
    }
  }
  
  .create__artwork-to-image {
    [data-frame-size="#{$i}"].frame--size {
      width: calc(228px * #{$i} + 228px);
      height: 600px;
    }
  }
  
  [data-frame-size="#{$i}"] {
    .frame__image--mat {
      left: calc((100% / (#{$i} + 1)) / 2);
      right: calc((100% / (#{$i} + 1)) / 2);
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      
    }
    .frame__letter-wrapper {
      left: calc((100% / (#{$i} + 1)) / 2);
      width: calc((100% / (#{$i} + 1)) * #{$i});
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
    }
    
    .frame__letter {
      max-width: calc(100% / #{$i});
      min-width: calc(100% / #{$i});
      padding: 0 calc(100% / #{$i} / 57);
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
    }
    input[type='text'].frame__input {
      padding: calc((100% / (#{$i} + 1)) / 1.8095) calc((100% / (#{$i} + 1)) / 1.9);
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
    }
  }
  
}

.create__step-1 .frame__letter {
  pointer-events: none;
}

.create__button {
  position: relative;
  margin-top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include max-size(sm) {
    margin-top: 15px;
  }
}

.process {
  position: absolute;
  left: 0;
  top: 14%;
  right: 0;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;;
  -webkit-box-pack: center;;
  -ms-flex-pack: center;;
  justify-content: center;
  z-index: 1;
  @include max-size(sm) {
    padding: 0 5px;
  }
  
  .process__item {
    display: block;
    padding: 50px 50px 0;
    border: none;
    background: none;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    @include max-size(md) {
      padding: 50px 5px 0;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 0;
    }
    
    &:hover {
      color: lighten($color__footer, 15%);
      
      &:before {
        top: 8px;
        width: 32px;
        height: 32px;
        line-height: 32px;
      }
    }
  }
  
  .process__item:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    z-index: 2;
    top: 10px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 1px solid #808080b0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: 0;
    color: $color__text;
  }
  
  .process__item:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    z-index: 1;
    top: 22.5px;
  }
  .process__item:first-of-type:after {
    left: 50%;
  }
  .process__item:last-of-type:after {
    width: 50%;
  }
  .process__step-1:before {
    content: '1';
  }
  .process__step-2:before {
    content: '2';
  }
  .process__step-3:before {
    content: '3';
  }
  .process__step-4:before {
    content: '4';
  }
  
  .process__item--active:before {
    background-color: $color__primary;
    color: $color__background;
  }
}

/*============================================================================
  #Step 2 - Theme Selection
    -
==============================================================================*/

.theme {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.theme--position {
  position: relative;
  margin: 220px auto;
  @include max-size(sm) {
    margin: 180px auto;
  }
}

.theme--size {
  width: 960px;
  max-width: 100%;
  padding: 0 15px;
  
}

.theme__wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 150px;
  
}

.theme__item {
  padding: 0 20px;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  background: none;
  border: none;
  -webkit-appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  .theme__image {
    padding: 5px;
    background: #fff;
    width: 100%;
    height: auto;
    cursor: pointer;
    -webkit-box-shadow: 3px 4px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 4px 15px 5px rgba(0, 0, 0, 0.5);
  }
  
  .theme__content {
    padding: 15px 5px;
    background: transparent;
    border-radius: 15px;
    margin-top: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    cursor: pointer;
  }
  
  .theme__heading {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 0 0 10px;
  }
  
  .theme__description p {
    margin: 0 0 3px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
  }
  
  @include max-size(md) {
    .theme__heading {
      margin: 0;
      font-size: 1.4rem;
      padding: 0 15px;
    }
    
    .theme__description {
      display: none;
    }
  }
  
  @include max-size(sm) {
    
    -webkit-box-flex: 0;
    
    -ms-flex: 0 0 50%;
    
    flex: 0 0 50%;
    padding: 0 10px 15px;
    
    .theme__image {
      width: 55%;
      -webkit-box-shadow: 3px 4px 15px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 3px 4px 15px 5px rgba(0, 0, 0, 0.3);
    }
    .theme__content {
      padding: 5px 5px;
    }
    .theme__heading {
      margin: 0;
      font-size: 1.2rem;
      padding: 0 15px;
    }
  }
}

.theme__item {
  @include hover-focus-active {
    outline: none;
    .theme__content {
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 3px 4px 15px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 3px 4px 15px 8px rgba(0, 0, 0, 0.3);
      
    }
  }
  @include max-size(sm) {
    @include hover-focus-active {
      .theme__content {
        -webkit-box-shadow: 3px 4px 15px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 3px 4px 15px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.theme__item.theme__selected, .theme__item:hover.theme__selected {
  .theme__content {
    background: #fff;
    -webkit-box-shadow: 3px 4px 15px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 4px 15px 8px rgba(0, 0, 0, 0.3);
    @include max-size(sm) {
      -webkit-box-shadow: 1px 2px 12px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 2px 12px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.preload-image[data-selection-type="modal"] {
  padding: 1px;
  width: calc(100% / 8);
  height: 100%;
  border: 4px solid #fff;
  background-color: #bdbdbd;
  display: block;
  cursor: pointer;
  @include max-size(md) {
    width: calc(100% / 6);
  }
  @include max-size(sm) {
    width: calc(100% / 4);
  }
}

.preload-image[data-selection-type="preload"] {
  display: none;
}

.modal__theme-selection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  @include max-size(sm) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal__theme-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    @include max-size(md) {
      width: 14px;
      height: 14px;
    }
  }
  
  label {
    margin: 0;
    padding: 5px 10px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.6;
    @include max-size(md) {
      padding: 5px 5px;
      font-size: 10px;
    }
    @include max-size(sm) {
      padding: 3px 5px;
    }
  }
  
  input[type="checkbox"] {
    margin: 0;
    padding: 5px 10px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
    &:checked, &:checked + label {
      opacity: 1;
    }
  }
}

.theme-change__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  
  .theme-change__item {
    max-width: 80px;
    margin: 40px auto 0;
    background: 0;
    border: 1px solid #888;
    padding: 0;
    pointer-events: all;
    -webkit-box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    
    &.theme-change__item--active, &:hover {
      -webkit-box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.9);
      box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.9);
    }
    
    @include max-size(md) {
      max-width: 60px;
    }
    @include max-size(sm) {
      max-width: 40px;
      margin: 40px auto 15px;
      -webkit-box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.2);
      &.theme-change__item--active, &:hover {
        -webkit-box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
  
  .theme-change__image {
    display: block;
  }
}

/* Step 4 */
.create__artwork-to-image {
  .frame--position {
    position: fixed;
    left: -5000%;
  }
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.final-artwork__size {
  position: relative;
}

.final-artwork {
  position: relative;
  max-width: 1200px;
  margin: 220px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  @include max-size(sm) {
    margin: 180px 15px 0;
  }
  
  .final-artwork__info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid black;
    background-color: rgba(234, 234, 234, 0.7);
    margin: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    @include max-size(sm) {
      width: 100%;
      margin: 15px;
      
    }
  }
  
  .final-artwork__info {
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    line-height: 1.4;
    font-size: 13px;
    letter-spacing: 1.8px;
    white-space: nowrap;
    @include max-size(sm) {
      font-size: 12px;
      letter-spacing: 0;
    }
    
    &.final-artwork__info--full-width {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding-top: 0;
      .final-artwork__link-heading {
        width: 25%;
      }
      .final-artwork__link-data {
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    table {
      table-layout: fixed;
    }
    th {
      width: 35%;
      @include max-size(sm) {
        width: 45%;
      }
    }
    p {
      display: block;
      padding: 0;
      line-height: 1.6;
      margin: 0;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1.8px;
      span {
        font-weight: 700;
        opacity: 0.8;
        padding-left: 10px;
      }
    }
    label {
      padding: 0;
      line-height: 1.6;
      margin: 0;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1.8px;
      @include max-size(sm) {
        font-size: 12px;
        letter-spacing: 0px;
      }
    }
    
    input[type=checkbox] {
      position: relative;
      padding: 0;
      line-height: 1.6;
      margin: 0;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1.8px;
      vertical-align: middle;
      display: inline-block;
      left: 11px;
      width: 16px;
      height: 16px;
      opacity: 1;
    }
    textarea {
      margin: 0;
      height: 17px;
      display: block;
      width: 100%;
      padding: 5px;
      line-height: 1.5;
      resize: none;
      min-height: 75px;
      border-color: rgba(0, 0, 0, 0.5);
      border-radius: 2.2px;
      letter-spacing: 1px;
      @include max-size(md) {
        min-height: 60px;
        font-size: 12px;
      }
    }
  }
}