/*============================================================================
  #Section Headings
    -
==============================================================================*/

.footer {
  height: 600px;
}

.footer__wrapper {
  height: 100%;
}

.footer__credits {
  padding: 15px;
  text-align: right;
  text-transform: uppercase;
}

.footer__contact {
  h6 {
    color: #fff;
  }
}