/*============================================================================
  #Slideshow Section
    -
==============================================================================*/

.slider__slide-wrapper, .slider-wrapper {
  position: relative;
}

.slider {
  /*height: 800px;*/
  margin: 45px 0;
}

.slider__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.slider__background-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__image-wrapper {
  overflow: hidden;
  margin: 0;
}

.slider__image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.slider__image--frame {
  -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
          box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
}

.slider__frame {
  position: absolute;
  z-index: 30;
  width: 600px;
  max-width: 60%;
  height: auto;
  max-height: 100%;
  bottom: 60px;
  margin: 0;
  padding: 15px;
  left: calc((100vw - 1100px) / 2);
  
  @include max-size(lg) {
    bottom: 20px;
    left: 60px;
  }
  @include max-size(sm) {
    bottom: 0;
    left: 0;
    max-width: 70%;
  }
  
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  
  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    transition: 0.1s all;
    
    &.slick-active button:before {
      opacity: 0.85;
      color: black;
    }
    
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: black;
        border-radius: 50%;
        opacity: 0.4;
      }
    }
  }
}