@font-face {
  font-family: "Proxima Nova";
  src: url("Proxima Nova Light.otf");
  src: url("Proxima Nova Light.otf") format('embedded-opentype'),
  url("Proxima Nova Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
