h3, .h3 {
  font-family: 'Caviar Dreams', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h4, .h4 {
  font-family: 'Caviar Dreams', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

q:before,
blockquote p:before {
  content: open-quote;
}
q:after,
blockquote p:after {
  content: close-quote;
}

.testimonial__wrapper .slider {
  margin: 0;
}