@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');


@font-face {
  font-family: "Caviar Dreams";
  src: url("CaviarDreams.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("Caviar_Dreams_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("CaviarDreams_Italic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Great Vibes";
  src: url("GreatVibes-Regular.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-Roman.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-Bd.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-Blk.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-It.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-BdIt.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-HvCn.otf");
  font-weight: 800;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-BlkIt.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd-BlkEx.otf");
  font-weight: 900;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: "Playfair Display";
  src: url("PlayfairDisplay-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
